body{
    background-color: rgb(106, 248, 248);
    font-family: 'Times New Roman', Times, serif;
}

.central{
    text-align: center;
}

.item-menu{
    display: inline;
    margin: 0.4rem;
    background-color: blanchedalmond;
    padding: 0.7rem;
    padding-right: 1rem;
    border-style: dashed;
    border-color: black;
}

.item-menu:hover{
    background-color: blue;
    color: violet;
}

.menu{
    background-color: aquamarine;
    padding: 0.7rem;
}

td{
    padding: 0.4rem;
}
